$gold-brilliant: #EFBF00;
$gold-soft: #F4D456;
$gray-slate: #BABABA;
$black: #000000;
$black--soft: #212121;
$white: #FFFFFF;
h1,h2,h3,h4,h5,h6 {
  margin: unset;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $black;
  &:visited {
  }
  &:active {
  }
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.basic {
  padding: 20px;
}
.image-div {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
