button {
  padding: 25px;
  margin-bottom: 2em;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
  background: #fff !important;
  color: $gray-slate;
  width: 100%;
}
