.region.region-primary-menu {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  height: 150px;
  width: 100%;
  .image-style-thumbnail {
    max-width: 75%;
    height: auto;
  }
  #block-headermenu {
    float: right;
    width: inherit;
    ul.menu {
      display: flex;
      li.menu-item {
        padding: 10px;
      }
    }
  }
  #block-ctdclogo {
    text-align: center;
  }
  #search-block-form {
    #edit-keys {
      height: 25px;
      border-radius: 5px;
      box-shadow: none;
    }
    #edit-actions {
      display: none;
    }
  }
}

#block-ctdc-main-menu {
  background-color: $white;
  color: $gold-brilliant;
  height: 100px;
  align-items: center;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .logo {
    img {

    }
  }
  .menu-item {
    margin: 0;
    padding-top: 0 !important;
    text-decoration: none;
    a {
      &:active {
        color: $gold-brilliant;
      }
    }
    &:hover {
      border-bottom: 2px solid $gold-brilliant;
    }
  }

}
footer{
  padding-left: 100px;
  height: 350px;
  background-color: $black--soft;
  #footer1, #footer2, #footer3 {
    float: left;
    width: 25%;
    padding: 100px 0px;
    nav {
      h2 {
        color: $gold-brilliant;
      }
    }
    ul.menu {
      margin-left: unset;
      li {
        a {
          color: $gray-slate;
          &.is-active {
            color: $gold-soft;
          }
        }
      }
    }
  }
}
